
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
<title><%= title %> - 个人博客</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
<style type="text/css">
body {
padding-top: 0px;
padding-bottom: 40px;
padding-left: 50px;
padding-right: 50px;
}
nav.left{
	width:100%;
	text-align: left;
}
nav.right{
  width:100%;
  text-align: right;
}
</style>

  </head>
  <body>
<div class="navbar navbar-default">
<ul class='nav navbar-nav'>
    <li class='navbar-text'><a title="主页"  href="/">首页</a></li>
    <li class='navbar-text'><a href="/archive">博文</a></li>
<% if (user) { %>
    <li class='navbar-text'><a title="上传"  href="/upload">上传</a></li>
    <li class='navbar-text'><a title="发表"  href="/post">发表</a></li>
    <li class='navbar-text'><a title="登出"  href="/logout">登出</a></li>
<% } else { %>
    <li class='navbar-text'><a  href="/login">登录</a></li>
    <li class='navbar-text'><a  href="/reg">立即注册</a></li>
<% } %>
</ul>
</div>
<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>
<span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>
<br/>
<article>
